@media only screen and (max-width: 750px) {
    .main {
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-direction: column;

        &__heading {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 15.333vw;

            img {
                width: 18.933vw;
                height: 6.400vw;
            }
        }
    }


    .banner {
        background-color: #fbf4d4;
        padding: 7.333vw 0;

        &__heading {
            font-size: 9.333vw;
            color: #221714;
            text-align: center;
            font-family: Kozuka Gothic Pr6N;
            font-style: normal;
            font-weight: 900;
            margin-bottom: 3.200vw;

            &--sub {
                font-size: 4.267vw;
                color: #221714;
                text-align: center;
                margin: 0 0 6.400vw 0;
                background-image: url("../img/パス.png");
                background-repeat: no-repeat;
                background-position: center bottom;
                background-size: 75.467vw 2.133vw;
                height: 5.067vw;
            }
        }

        &__wrapper {
            width: 88.667vw;
            margin: auto;
            display: flex;
            flex-direction: column;
        }

        &__img {
            &-select {
                width: 36.133vw;
                height: 8.667vw;
                margin: auto;
                padding-bottom: 8.133vw;
            }

            &-dot {
                width: 43.067vw;
                margin: auto;
            }

        }

        &__text {
            font-size: 3.867vw;
            text-align: center;
            line-height: 6.133vw;
            color: #221714;
        }

    }

    .cream-bread {
      
        &__heading{
            left: 0;
            margin: 28px 0 0 44px;
            margin-right: -50px;
            z-index: 1;
        }

        &__wrapper{
            display: flex;
            flex-direction: row;
            position: relative;            
        }

        &__image{
                margin-top: 69px;
                overflow: hidden;
                height: auto;
                width: 644px;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                img{
                    width: 100%;
                    height: 422px;
                }
        }

        &__info{
            background-image: url('../img/bg-img.png');
            width: 520px;
            height: 337px;
            margin-top: -27px;
        }

    }
}