@charset "UTF-8";
@media only screen and (max-width: 750px) {
  .main {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 15.333vw;
  }
  .main__heading img {
    width: 18.933vw;
    height: 6.400vw;
  }
  .banner {
    background-color: #fbf4d4;
    padding: 7.333vw 0;
  }
  .banner__heading {
    font-size: 9.333vw;
    color: #221714;
    text-align: center;
    font-family: Kozuka Gothic Pr6N;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 3.200vw;
  }
  .banner__heading--sub {
    font-size: 4.267vw;
    color: #221714;
    text-align: center;
    margin: 0 0 6.400vw 0;
    background-image: url("../img/パス.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 75.467vw 2.133vw;
    height: 5.067vw;
  }
  .banner__wrapper {
    width: 88.667vw;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner__img-select {
    width: 36.133vw;
    height: 8.667vw;
    margin: auto;
    padding-bottom: 8.133vw;
  }
  .banner__img-dot {
    width: 43.067vw;
    margin: auto;
  }
  .banner__text {
    font-size: 3.867vw;
    text-align: center;
    line-height: 6.133vw;
    color: #221714;
  }
  .cream-bread__heading {
    left: 0;
    margin: 28px 0 0 44px;
    margin-right: -50px;
    z-index: 1;
  }
  .cream-bread__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
  }
  .cream-bread__image {
    margin-top: 69px;
    overflow: hidden;
    height: auto;
    width: 644px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cream-bread__image img {
    width: 100%;
    height: 422px;
  }
  .cream-bread__info {
    background-image: url("../img/bg-img.png");
    width: 520px;
    height: 337px;
    margin-top: -27px;
  }
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: normal;
  line-height: 1;
  vertical-align: bottom;
}

body {
  line-height: 1;
}

article,
aside,
dialog,
figure,
footer,
header,
nav,
section {
  display: block;
}

ul,
ol,
dl {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  color: #000;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent;
  outline: none;
}

img {
  vertical-align: bottom;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}
/*# sourceMappingURL=style.css.map */